body{
    background-color: $bg-grey;
    font-family: $font-global;
}

h1{
    font-size:24px;
    font-weight: 700;
    font-family: $font-global;
    color:$color-black;
    margin-bottom:28px;

    &.h1__cta{
        max-width: 275px;
        margin: 0 auto;
        text-align: center;
        line-height: 28.13px;
        margin-bottom:0px;
    }
}

p{
    font-family: $font-global;
    color:$color-grey;

    &.p__header{
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        margin: 10px 0 20px 0;
    }

    &.p__guide{
        font-size:16px;
        font-weight: 500;
    }

    &.p__card-dish{
        font-size:15px;
        font-weight: 300;
    }

    &.p__footer{
        color:$white;
        font-size:16px;
        font-weight: 500;
    }
}

// HEADER
// -----logo

.logo{
    display: flex;
    justify-content: center;
    padding:15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    background-color:$white;
}

// -----pos

.pos{
    display: flex;
    background-color: $bg-input;
    justify-content: center;
    align-items: center;
    padding:15px 0;
    
}

.pos > fa-location-dot{
    color:$color-grey;
}

.pos__input{
    border:none;
    background-color: transparent;
    width: 120px;

    &::placeholder{
        font-size: 16px;
        color:$color-grey;
        font-weight: 500;
    }
}

// SECTION CTA
.section-cta{
    padding:35px 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.btn-cta{
    padding:13px 18.75px;
    background: linear-gradient(0, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px #00000040;
    color:$white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;

    &:hover{
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    }
}

// SECTION GUIDE

.section-guide{
    background-color: $white;
    padding:50px 20px;
}

.container-card-guide{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.card-guide{
    width: 323px;
    height: 72.38px;
    background-color: $bg-grey;
    box-shadow: $bs-carte;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    padding-left:35px;
    gap:15px;

}

.number-guide{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    left:0;
    background-color: $primary-color;
    border-radius: 20px;
    margin-left:-12px;
    color:$white;
}

.card-guide > .fa-solid{
    width: 13px;

    color:#7E7E7E;
}

