// Colors
$white:#ffffff;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiaire-color:#99E2D0;

// Background
$bg-grey:#f6f6f6;
$bg-input:#EAEAEA;
$bg-footer:#353535;

// Fonts
$font-title-special:Shrikhand;
$font-global:Roboto;
$color-grey:#353535;
$color-black:#000000;

// Box-shadow
$bs-carte: 0px 4px 15px 0px #00000026;
