@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
blockquote,
figure {
  padding: 0;
  margin: 0;
  font-weight: normal;
  border: none;
}

blockquote {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: inherit;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
  border: none;
}

button, input[type=submit] {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
}

input {
  font-family: inherit;
}

.blockquote {
  border: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-family: Roboto;
}

h1 {
  line-height: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: Roboto;
  color: #000000;
  margin-bottom: 28px;
}
h2.h2__cta {
  max-width: 275px;
  margin: 0 auto;
  text-align: center;
  line-height: 28.13px;
  margin-bottom: 0px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: Roboto;
  color: #000000;
  margin-bottom: 28px;
}

h4 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

section {
  padding: 50px 20px;
}

p {
  font-family: Roboto;
  font-weight: normal;
}
p.p__header {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 10px 0 20px 0;
}
p.p__guide {
  font-size: 16px;
  font-weight: 500;
}
p.p__card-dish {
  font-size: 17px;
  font-weight: 300;
}
p.p__footer {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.fa-heart {
  font-size: 22px;
}

.line {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.pos {
  display: flex;
  background-color: #EAEAEA;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.pos > fa-location-dot {
  color: #353535;
}

.pos__input {
  border: none;
  background-color: transparent;
  width: 120px;
}
.pos__input::placeholder {
  font-size: 16px;
  color: #353535;
  font-weight: 500;
}

.link-return {
  position: absolute;
  left: 17px;
}
.link-return .fa-arrow-left {
  font-size: 30px;
}

.section-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-cta {
  padding: 13px 18.75px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
}
.btn-cta:hover {
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.section-guide {
  background-color: #ffffff;
}

.container-card-guide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-guide {
  width: 323px;
  height: 72.38px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 auto;
  padding-left: 35px;
  gap: 15px;
}

.number-guide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  left: 0;
  background-color: #9356DC;
  border-radius: 20px;
  margin-left: -12px;
  color: #ffffff;
}

.card-guide > .fa-solid {
  font-size: 18px;
  color: #7e7e7e;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 18px 0;
  border-radius: 15px;
  background-color: #ffffff;
  position: relative;
}

.card__image {
  height: 231px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card__infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.hidden-checkbox {
  display: none;
}

.heart-label {
  display: inline-block;
  cursor: pointer;
}

.heart-label i.fa-regular.fa-heart {
  display: inline-block;
}

.heart-label i.fa-solid.fa-heart {
  display: none;
}

.hidden-checkbox:checked + .heart-label i.fa-regular.fa-heart {
  display: none;
}

.hidden-checkbox:checked + .heart-label i.fa-solid.fa-heart {
  display: inline-block;
  background: linear-gradient(194deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.new {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #008766;
  background-color: #99e2d0;
  padding: 7px 9px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.new p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

footer {
  background-color: #353535;
  color: #ffffff;
  font-size: 16px;
  font-family: Roboto;
  padding: 22px 25px;
}

.logo-footer {
  width: 100px;
  height: 27px;
  fill: white;
  margin-bottom: 16px;
}

.list-footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.fa-utensils,
.fa-handshake-angle {
  width: 11px;
  height: 13px;
  margin-right: 11px;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: Arial, sans-serif;
  animation: hideLoader 0.5s ease-out 3s forwards;
}

.loader {
  font-size: 2rem;
  font-family: roboto;
  font-weight: 600;
  letter-spacing: 5px;
  display: flex;
}

.loader span {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes hideLoader {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
/* Répartir les animations des lettres sur une période de 2.5s */
.loader span:nth-child(1) {
  animation-delay: 0s;
}

.loader span:nth-child(2) {
  animation-delay: 0.3s;
}

.loader span:nth-child(3) {
  animation-delay: 0.6s;
}

.loader span:nth-child(4) {
  animation-delay: 0.9s;
}

.loader span:nth-child(5) {
  animation-delay: 1.2s;
}

.loader span:nth-child(6) {
  animation-delay: 1.5s;
}

.loader span:nth-child(7) {
  animation-delay: 1.8s;
}

.loader span:nth-child(8) {
  animation-delay: 2.1s;
}

.title-menu-fav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 32px 17px 42px 17px;
}

.banner-header img {
  width: 100%;
  max-height: 275px;
  object-fit: cover;
}

.h2_menu {
  margin: 0;
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}

.container-menu {
  position: relative;
  max-width: 1055px;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
  margin-top: -50px;
  z-index: 999;
}
.container-menu section {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.card-food-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
}

.__card-food-menu-title-p {
  list-style: none;
}
.__card-food-menu-title-p h3 {
  margin: 0;
  padding: 0;
}
.__card-food-menu-title-p p {
  margin: 0;
  padding: 0;
}

/* Media query pour les tablettes */
/* Media query pour les desktops */

/*# sourceMappingURL=style.css.map */
